.loginform {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 55%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
}
.lgoimg {
  text-align: center;
  margin: 0 0 45px;
}
.errors {
  color: red;
  margin: 5px 0 0;
  font-size: 14px;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #eee;
}
